.page {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
}

.box {
  background-color: rgba(255, 255, 255, 0.179);
  border-radius: 20px;
  padding: 3rem;
}
p > span {
  background-color: #1b727258;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 10px;
  padding: 3px;
}
.center {
  display: block;
  margin: 0 auto;
}
